.container {
    background-image: url('../UI\ Images/BG.jpg');
    background-size: cover;
    background-position: center; 
    height: 600px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    max-width: 320px;
  }
  
  .background-image-hashtag {
    height: 50%;
    width: 80%;
  }
  
  .container-center {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  @font-face {
    font-family: 'GibsonBold';
    src: url('../Fonts/Gibson/Gibson-Bold.ttf') format('truetype');
  }
  
  .gibson-bold {
    font-family: 'GibsonBold', sans-serif;
    padding: 10px;
    color: white;
  }
  @font-face {
    font-family: 'GibsonItalic';
    src: url('../Fonts/Gibson/Gibson-Italic.ttf') format('truetype');
  }
  
  .gibson-italic {
    font-family: 'GibsonItalic', sans-serif;
    padding: 10px;
    color: white;
  }
  @font-face {
    font-family: 'GibsonLight';
    src: url('../Fonts/Gibson/Gibson-Light.ttf') format('truetype');
  }
  
  .gibson-light {
    font-family: 'GibsonLight', sans-serif;
    padding: 10px;
    color: white;
  }
  @font-face {
    font-family: 'GibsonRegular';
    src: url('../Fonts/Gibson/Gibson-Regular.ttf') format('truetype');
  }
  
  .gibson-regular {
    font-family: 'GibsonRegular', sans-serif;
    padding: 10px;
    color: white;
  }
  @font-face {
    font-family: 'GibsonSemiBold';
    src: url('../Fonts/Gibson/Gibson-SemiBold.ttf') format('truetype');
  }
  
  .gibson-semibold {
    font-family: 'GibsonSemiBold', sans-serif;
    padding: 10px;
    color: white;
  }
  @font-face {
    font-family: 'Gibson';
    src: url('../Fonts/Gibson/Gibson.ttf') format('truetype');
  }
  
  .gibson {
    font-family: 'Gibson', sans-serif;
    padding: 10px;
    color: white;
  }
  @font-face {
    font-family: 'Medium';
    src: url('../Fonts/DairyMilkFont-Medium.otf') format('truetype');
  }
  
  .dairy-milk {
    font-family: 'Medium', sans-serif;
    padding: 10px;
    color: white;
  }
  
  .dairy-milk-hindi {
    font-family: 'GibsonItalic', sans-serif;
    padding: 5px;
    color: white;
    font-size: small;
  }
.header {
    position: relative;
    top: 0;
    left: 0;
    max-width: 320px;
    height: 10%;
    background-color: #2D006B;
    color: white; 
    padding: 0px 10px;
    display: flex;
  }
  .cadbury-logo {
    height: 30%;
    padding-top: 12px;
  }
  .birthday-logo {
    width: 150%;
    height: 56%;
  }
  .menu {
    width: 35%;
    height: 20%;
  }
  .hamburger {
    display: flex;
    justify-content: end;
    padding-top: 18px !important;
  }
  .register-page {
    width: -webkit-fill-available;
    height: -webkit-fill-available;;
  }
  .progress-bar {
    margin-top: 2%;
    text-align: -webkit-center;
  }
  .progress-bar-img {
    width: 50%;
    z-index: 2;
    position: absolute;
    left: 25%;
    top: 10px;
  }
  .logo {
    text-align: -webkit-center;
    position: relative;
  }
  .logo-img {
    margin-left: -10%;
    z-index: 1;
    position: absolute;
    left: 10%;
    top: -34px;
    width: 100%;
  }
  .register-div {
    position: relative;
    font-family: 'GibsonSemiBold', sans-serif;
    padding: 10px;
    color: white;
    text-align: center;
    top: 36%;
  }
  .input-value {
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px 15px;
    width: 80%;
  }
  .radio-div {
    display: flex;
  }
  .radio-text {
    font-family: 'GibsonLight', sans-serif;
    font-size: small;
    text-align: left;
    padding: 5px 22px 5px 5px;
    
  }
  .radio-button {
    margin-left: 32px;
    margin-right: 10px;
    cursor: pointer;
  }
  .radio-text2 {
    font-family: 'GibsonLight', sans-serif;
    font-size: small;
    text-align: left;
    padding: 5px 18px 5px 5px;
  }
  .submit-button {
    background-color: #DAA520;
    padding: 8px 30px;
    border-radius: 12px;
    color: #2D006B;
    font-family: 'GibsonSemiBold', sans-serif;
    margin-top: 4px;
    cursor: pointer;
  }
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 200px;
  border-radius: 15px;
  position: relative;
}

.otp-text {
  text-align: center;
  color: #2D006B;
  font-family: 'GibsonSemiBold', sans-serif;
}
.form {
  display: flex;
  justify-content: center;
}
.form-input {
  width: 18px;
  padding: 5px;
  margin-right: 5px;
  background-color: #2D006B;
  border-radius: 5px;
  height: 22px;
  color: white;
}
.resend {
  font-family: 'GibsonSemiBold', sans-serif;
  color: #2D006B;
  display: flex;
  justify-content: end;
  padding: 10px;
  text-decoration: underline;
  font-size: small;
}
.about-text {
  position: absolute;
    font-family: 'GibsonSemiBold', sans-serif;
    padding: 10px;
    color: white;
    text-align: center;
    top: 30px;
    width: 100%;
}
.capgift-img {
  margin-left: -10%;
    z-index: 1;
    position: absolute;
    left: 30%;
    top: 44px;
    width: 70%;
}
.about-div {
  position: relative;
    font-family: 'GibsonSemiBold', sans-serif;
    padding: 10px;
    color: white;
    text-align: center;
    top: 34%;
}
.about-questions {
  padding-top: 10px;
}
.proceed-button {
  background-color: #DAA520;
  padding: 8px 30px;
  border-radius: 12px;
  color: #2D006B;
  font-family: 'GibsonSemiBold', sans-serif;
  margin-top: 20px;
  cursor: pointer;
}
.gender-value {
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 15px 10px 8px;
  width: 90%;
}
.vibe-text {
  position: absolute;
    font-family: 'GibsonSemiBold', sans-serif;
    padding: 10px 34px;
    color: white;
    text-align: center;
    top: 26px;
    width: 80%;
}
.headphone-img {
  margin-left: -10%;
    z-index: 1;
    position: absolute;
    left: 30%;
    top: 50px;
    width: 60%;
}
.vibe-div {
  position: relative;
    font-family: 'GibsonSemiBold', sans-serif;
    padding: 10px;
    color: white;
    text-align: center;
    top: 34%;
}
.mood {
  background-color: #DAA520;
  font-family: 'GibsonSemiBold', sans-serif;
    padding: 2px;
    color: #2D006B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
}
.mood-icons {
  border: 1px solid #DAA520;
  display: flex;
  justify-content: center;
  padding: 14px 5px;
  border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
.mood-icon {
  width: 70%;
}
.icon-text {
  font-family: 'GibsonSemiBold', sans-serif;
  font-size: xx-small;
}
.mood-container {
  width: 100%; 
  height: 100%; 
  border-radius: 50%; 
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
.mood-container-click {
  width: 100%; 
  height: 100%; 
  border-radius: 50%; 
  background-color: #DAA520;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
.mood-container:hover {
  background-color: #DAA520;
}
.margin-div {
  margin: 0px 5px;
}
.voice-icon {
  width: 40%;
}
.voice-container {
  width: 100%; 
  height: 100%; 
  border-radius: 10%; 
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
.voice-container-click {
  width: 100%; 
  height: 100%; 
  border-radius: 10%; 
  background-color: #DAA520; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
.voice-container:hover {
  background-color: #DAA520;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.answer-button {
  background-color: #AF69EE;
  padding: 8px 20px;
  border-radius: 12px;
  color: white;
  font-family: 'GibsonSemiBold', sans-serif;
  margin-top: 20px;
  cursor: pointer;
}
.answer-button-2 {
  background-color: lightgray;
  padding: 8px 20px;
  border-radius: 12px;
  color: darkgray;
  font-family: 'GibsonSemiBold', sans-serif;
  margin-top: 20px;
  cursor: pointer;
}
