.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-image: url('./UI\ Images/BG.jpg');
  /* Specify additional background properties for better control */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  /* You can also include other background properties like repeat, etc. */
  /* width: 40%; Set the width of the container */
  height: 600px; /* Set the height as needed */
  /* display: flex; */
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
  /* margin: 0 auto; Center the container */
}

/* @media (max-width: 320px) {
  .container {
    width: 100%;
    height: 520px;
  }
} */

.main-container {
  display: flex;
  justify-content: center;
}